<div class="col-12 md:col-12 menu-list">
    <app-menu-list [rotaPadrao]="rotaPadrao"
      [idEntidade]="idEntidade"
      [permissaoNovo]="authorizationService.temPermissao('FORNECEDOR_INCLUIR')"
      [permissaoEditar]="authorizationService.temPermissao('FORNECEDOR_ALTERAR')"
      [permissaoConsultar]="authorizationService.temPermissao('FORNECEDOR_CONSULTAR')"
      [permissaoExcluir]="authorizationService.temPermissao('FORNECEDOR_EXCLUIR')"
      [itemsBreadCrumb]="items">
    </app-menu-list>
</div>

<div class="col-12 md:col-12">

    <form autocomplete="off" (ngSubmit)="pesquisar()">

        <p-fieldset legend="Filtro" [toggleable]="true" [collapsed]="true" class="fildset-filtro">

            <div class="formgrid grid">

                <div class="field col-12 md:col-2">
                    <label for="id">ID</label>
                    <input id="id" class="inputfield w-full"
                    pInputText type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57" name="id" [(ngModel)]="filtro.id">
                </div>
          
                <div class="field col-12 md:col-10">
                    <label for="razaoSocial">Razão Social</label>
                    <input id="razaoSocial" class="inputfield w-full"
                     pInputText type="text" name="razaoSocial" [(ngModel)]="filtro.razaoSocial" maxlength="200">
                </div>

                <div class="field col-12 md:col-10">
                    <label for="nomeFantasia">Nome Fantasia</label>
                    <input id="nomeFantasia" class="inputfield w-full"
                     pInputText type="text" name="nomeFantasia" [(ngModel)]="filtro.nomeFantasia" maxlength="200">
                </div>

                <div class="field col-12 md:col-12">
                    <button pButton icon="pi pi-search" type="submit" label="Pesquisar" class="botao-filtro botao-menu"></button>
                    <button pButton icon="pi pi-eraser" type="button" label="Limpar" class="botao-filtro botao-menu" (click)="limparFiltro()"></button>
                </div>

            </div>

        </p-fieldset>

    </form>

</div>

<div class="col-12 md:col-12">
    <p-table [value]="selecionados" [paginator]="true" [rows]="filtro.itensPorPagina"
            [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)" #tabela
            [showCurrentPageReport]="true" currentPageReportTemplate="Total de registros: {totalRecords}"
            [rowsPerPageOptions]="[10,15,20,25,30]">
        <ng-template pTemplate="header">
            <tr>
                <th style="width:6%">ID</th>
                <th style="width:14%">Cnpj/Cpf</th>
                <th style="width:40%">Razão Social</th>
                <th style="width:40%">Nome Fantasia</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-entidade>
            <tr (dblclick)="alterarEntidade(entidade)" (click)="selecionarEntidade(entidade)" [class]="entidade.id == idEntidade ?'linha-selecao-tabela':null">
                <td>{{entidade.id}}</td>
                <td>{{entidade.cnpjCpf | cnpjCpf}}</td>              
                <td>{{entidade.razaoSocial}}</td>
                <td>{{entidade.nomeFantasia}}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="6">
                    Nenhum registro encontrado
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>