<div class="ajustes-breadcrumb">
    <p-breadcrumb [model]="itemsBreadCrumb"></p-breadcrumb>
</div>

@if(validarBotao('novoOuEditar', '', '')){
    <button label="Salvar" pButton type="button" icon="pi pi-save" pTooltip="Salvar" tooltipPosition="bottom"
        class="p-button-primary botao-menu" (click)="salvarEntidade(formulario)">
    </button>
}

@if(validarBotao('', 'excluir', '')){
    <button label="Excluir" pButton type="button" icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="bottom"
        class="p-button-primary botao-menu" (click)="excluirEntidade()">
    </button>
}

@if(validarBotao('novoOuEditar', 'excluir', '')){
    <button label="Cancelar" pButton type="button" icon="pi pi-times" pTooltip="Cancelar" tooltipPosition="bottom"
        class="p-button-danger botao-menu" (click)="cancelar()">
    </button>
}

@if(validarBotao('', '', 'consultar')){
    <a label="Voltar" pButton icon="pi pi-undo" pTooltip="Voltar" tooltipPosition="bottom"
        class="p-button-success botao-menu" [routerLink]="rotaListar">
    </a>
}