<div class="col-12 md:col-12">

    <form #formulario="ngForm" autocomplete="off">
  
      <div class="formgrid grid">
  
        <div class="col-12 md:col-12 menu-form">
          <app-menu-form
            [rotaListar]="rotaListar"
            [tipoMenu]="tipoMenu"
            [formulario]="formulario"
            (salvar)="salvar($event)"
            (excluir)="excluir()"
            [itemsBreadCrumb]="items">
          </app-menu-form>
        </div>
  
        <div class="col-12 md:col-12">
  
          <p-fieldset legend="Dados" class="fildset-formulario">
  
            <div class="p-fluid grid">

                <div class="field col-12 md:col-2 margem-radio" [ngClass]="formularioInvalido && !entidade.cnpjCpf? 'campoInvalido':'campoValido'">
                  <div class="p-grid p-fluid">
                    <p-radioButton class="descricao-cnpj-cpf" [disabled]="consulta" name="groupname" value="CNPJ" [(ngModel)]="cnpjCpfSelecionado"
                    label="Cnpj" (click)="verificarCnpjCpfCadastrado()"></p-radioButton>
                    <p-radioButton class="descricao-cnpj-cpf" [disabled]="consulta" name="groupname" value="CPF" [(ngModel)]="cnpjCpfSelecionado"
                    label="Cpf" (click)="verificarCnpjCpfCadastrado()"></p-radioButton>
                    <p-inputMask name="cnpjCpf" [(ngModel)]="entidade.cnpjCpf" mask="99.999.999/9999-99" [unmask]="true"
                    [disabled]="consulta" *ngIf="cnpjCpfSelecionado == 'CNPJ'" requerid (onBlur)="verificarCnpjCpfCadastrado()"
                    class="inputfield w-full"></p-inputMask>
                    <p-inputMask name="cnpjCpf" [(ngModel)]="entidade.cnpjCpf" mask="999.999.999-99" [unmask]="true"
                    [disabled]="consulta" *ngIf="cnpjCpfSelecionado == 'CPF'" requerid (onBlur)="verificarCnpjCpfCadastrado()"
                    class="inputfield w-full"></p-inputMask>
                  </div>
                </div>

                <div class="field col-12 md:col-2" [ngClass]="formularioInvalido? 'campoInvalido':'campoValido'">
                  <label>Status<span class="campoObrigatorio">*</span></label>
                  <div class="p-grid p-fluid">
                    <p-dropdown [options]="tiposStatus" [filter]="false" placeholder="Selecione"
                    [required]="true" name="status" [(ngModel)]="entidade.status"  [disabled]="consulta"></p-dropdown>
                  </div>
                </div>

                <div class="field col-12 md:col-4" [ngClass]="formularioInvalido  && formulario.form.controls['razaoSocial'].invalid? 'campoInvalido':'campoValido'">
                  <label for="razaoSocial">Razão Social<span class="campoObrigatorio">*</span></label>
                  <input id="razaoSocial" class="inputfield w-full"
                  pInputText type="text" name="razaoSocial" [(ngModel)]="entidade.razaoSocial"
                  [disabled]="consulta" required minlength="3" maxlength="100">
                </div>
      
                <div class="field col-12 md:col-4" [ngClass]="formularioInvalido  && formulario.form.controls['nomeFantasia'].invalid? 'campoInvalido':'campoValido'">
                    <label for="nomeFantasia">Nome Fantasia<span class="campoObrigatorio">*</span></label>
                    <input id="nomeFantasia" class="inputfield w-full"
                    pInputText type="text" name="nomeFantasia" [(ngModel)]="entidade.nomeFantasia"
                    [disabled]="consulta" required minlength="3" maxlength="100">
                </div>

                <div class="field col-12 md:col-12">
                    <label for="observacao">Observação</label>                
                    <textarea id="observacao" name="observacao" class="inputfield w-full" [rows]="10" [cols]="30" 
                      pInputTextarea  [disabled]="consulta" [(ngModel)]="entidade.observacao"
                      maxlength="5000"></textarea>
                  </div> 
  
            </div>
  
          </p-fieldset>
  
        </div>



        <div class="col-12 md:col-12">

          <div class="col-12 md:col-12 fildset-tabview">
      
            <p-tabView [scrollable]="true"> 
  
              <p-tabPanel header="Endereços">
                <div class="formgrid grid">
                  <div class="field col-12 md:col-12">
                    <app-fornecedor-form-endereco [entidade]="entidade" [consulta]="consulta" [formulario]="formularioInvalido" [form]="formulario"></app-fornecedor-form-endereco>
                  </div>
                </div>
              </p-tabPanel>     
              
              <p-tabPanel header="Contatos">
                <div class="formgrid grid">
                  <div class="field col-12 md:col-12">
                    <app-fornecedor-form-contato [entidade]="entidade" [consulta]="consulta" [formulario]="formularioInvalido" [form]="formulario"></app-fornecedor-form-contato>
                  </div>
                </div>
              </p-tabPanel>
  
            </p-tabView>
  
          </div>
          
        </div>

        
  
      </div>
  
    </form>
  
</div>  