<div class="login">

    <form #formulario="ngForm" autocomplete="off">

        <div class="p-fluid">

            <div class="pages-body login-page flex flex-column">

                <div class="align-self-center mt-auto mb-auto">

                    <div class="col-12 md:col-12 pages-panel card flex flex-column">

                        <img src="assets/images/logo.png" class="imagem-logo" />

                        <h2 class="login-subtitulo">Sistema de Vendas</h2>

                        <div class="input-panel flex flex-column">

                            <div>
                                <button pButton type="submit" label="Acessar" [disabled]="!formulario.valid"
                                    (click)="login()"></button>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </form>

</div>