<!--Cabeçalho -->
@if(exibirMenu()) {
  <nav class="navbar">
    <div class="formgrid grid">
      <div class="col-12">
        <a href="javascript:;" [ngClass]="{'navbar-botao-menu': mostrarMenu, 'navbar-botao-menu-colapse':!mostrarMenu}" (click)="mostrarMenuLateral()"><i class="pi pi-bars navbar-botao-icone-menu"></i></a>
        <a href="javascript:;" class="navbar-botao-sair" (click)="logout()"><i class="pi pi-sign-in"></i>SAIR</a>
        <span class="navbar-versao">VERSÃO API: {{versaoApi}}</span>
        <a href="javascript:;" class="navbar-botao-sair"><i class="pi pi-user"></i>USUÁRIO: {{ authorizationService.jwtPayload?.nome }}</a>
      </div>
    </div>
  </nav>


  <!--Menu lateral -->
  <div>
    <ul class="navbar-menu" [hidden]="!mostrarMenu">

      <div class="imagem-fundo">
        <div>
          <a class="col-12" routerLink="/principal" (click)="navegar('/principal')">
            <img src="assets/images/logo-bullla.svg" class="imagem-usuario"/>
          </a>
        </div>
      </div>

      @if(authorizationService.temPermissao('MENU_CADASTRO')){
        <div class="navbar-grupo-menu">
          <input type="checkbox" id="cadastro"/>
          <label class="label-menu cursor-pointer" for="cadastro" ><i class="pi pi-book" aria-hidden="true"></i>Cadastro</label>
          <ul>

            @if(authorizationService.temPermissao('CATEGORIA_CONSULTAR')){
              <li class="navbar-menuitem cursor-pointer" routerLinkActive="navbar-menuitem-ativo">
                <a (click)="navegar('/categoria/listar')"><i class="pi pi-building" aria-hidden="true"></i>Categoria</a>
              </li>
            }
          
          </ul>
        </div>
      }



    </ul>
  </div>
}